In [1]:
x = 1
y = 2
x + y

3

In [4]:
def add_numbers(x,y,z):
    return x+y+z 
print(add_numbers(1,2,3))

6

In [6]:
def add_numbers(x, y, z=None):
    if( z == None):
        return x+y
    else:
        return x+ y+ z
add_numbers(1,2)

3

In [1]:
def add_numbers(x, y, z=None):
    if( z == None):
        return x+y
    else:
        return x+ y+ z
add_numbers(1,2)

3

In [3]:
#What would be an appropriate slice to get the name 
#"Christopher" from the string "Dr. Christopher Brooks"?

x = 'Dr. Christopher Brooks'

print(x[4:15])

Christopher

In [7]:
#formating strings

sales_record = {'price': 3.24,
               'num_items': 4,
               'person':'Chris'}
sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                            sales_record['num_items'],
                            sales_record['price'],
                            sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

In [9]:
#data files and summary statistics

import csv

%precision 2

with open('mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

mpg[:3]

FileNotFoundError: [Errno 2] No such file or directory: 'mpg.csv'

In [18]:
#Dates and times
import datetime as dt
import time as tm

tm.time()

dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

dtnow.year, dtnow.month, dtnow.day, dtnow.hour, dtnow.minute, dtnow.second

delta = dt.timedelta(days = 100)
delta
today = dt.date.today()
today-delta
today > today-delta

True

In [20]:
#objects, class, and map

class Person:
    department = 'School of Information'
    
    def set_names(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

#map example
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [ 9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
print(cheapest)
for x in cheapest:
    print(x)

<map object at 0x7fe7ec6107b8>
9.0
11.0
12.34
2.01

In [21]:
#example problem
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split(person[1])
split_title_and_name()
#list(map(#Your answer here))

In [1]:
#lambda function
my_function = lambda a,b,c: a + b
my_function(1,2,3)

3

In [2]:
##example problem - Lambda
##convert function to lambda
people = ['Dr. Christopher Brooks', 'Dr. Kevyn Collins-Thompson', 'Dr. VG Vinod Vydiswaran', 'Dr. Daniel Romero']

def split_title_and_name(person):
    return person.split()[0] + ' ' + person.split()[-1]

#option 1
for person in people:
    print(split_title_and_name(person) == (lambda x: x.split()[0] + ' ' + x.split()[-1])(person))

#option 2
list(map(split_title_and_name, people)) == list(map(lambda person: person.split()[0] + ' ' + person.split()[-1], people))

True
True
True
True

True

In [4]:
my_list = []
for number in range(0,1000):
    if number % 2 == 0 :
        my_list.append(number)
my_list
my_list = [number for number in range(0 , 1000) if number % 2 == 0]
my_list

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198,
 200,
 202,
 204,
 206,
 208,
 210,
 212,
 214,
 216,
 218,
 220,
 222,
 224,
 226,
 228,
 230,
 232,
 234,
 236,
 238,
 240,
 242,
 244,
 246,
 248,
 250,
 252,
 254,
 256,
 258,
 260,
 262,
 264,
 266,
 268,
 270,
 272,
 274,
 276,
 278,
 280,
 282,
 284,
 286,
 288,
 290,
 292,
 294,
 296,
 298,
 300,
 302,
 304,
 306,
 308,
 310,
 312,
 314,
 316,
 318,
 320,
 322,
 324,
 326,
 328,
 330,
 332,
 334,
 336,
 338,
 340,
 342,
 344,
 346,
 348,
 350,
 352,
 354,
 356,
 358,
 360,
 362,
 364,
 366,
 368,
 370,
 372,
 374,
 376,
 378,
 380,
 382,
 384,
 386,
 388,
 390,
 392,
 394,
 396,
 398,
 400,
 402,
 404,
 406,
 408,
 410,
 412,
 414,
 416,
 418,
 420,
 422,
 424,
 426,
 428,
 430,
 432,
 434,
 436,
 438,
 440,
 442,
 444,
 446,
 448,
 450,
 452,
 454,
 456,
 458,
 460,
 462,
 464,
 466,
 468,
 470,
 472,
 474,
 476,
 478,
 480,
 482,
 484,
 486,
 488,
 490,
 492,
 494,
 496,
 498,
 500,
 502,
 504,
 506,
 508,
 510,
 512,
 514,
 516,
 518,
 520,
 522,
 524,
 526,
 528,
 530,
 532,
 534,
 536,
 538,
 540,
 542,
 544,
 546,
 548,
 550,
 552,
 554,
 556,
 558,
 560,
 562,
 564,
 566,
 568,
 570,
 572,
 574,
 576,
 578,
 580,
 582,
 584,
 586,
 588,
 590,
 592,
 594,
 596,
 598,
 600,
 602,
 604,
 606,
 608,
 610,
 612,
 614,
 616,
 618,
 620,
 622,
 624,
 626,
 628,
 630,
 632,
 634,
 636,
 638,
 640,
 642,
 644,
 646,
 648,
 650,
 652,
 654,
 656,
 658,
 660,
 662,
 664,
 666,
 668,
 670,
 672,
 674,
 676,
 678,
 680,
 682,
 684,
 686,
 688,
 690,
 692,
 694,
 696,
 698,
 700,
 702,
 704,
 706,
 708,
 710,
 712,
 714,
 716,
 718,
 720,
 722,
 724,
 726,
 728,
 730,
 732,
 734,
 736,
 738,
 740,
 742,
 744,
 746,
 748,
 750,
 752,
 754,
 756,
 758,
 760,
 762,
 764,
 766,
 768,
 770,
 772,
 774,
 776,
 778,
 780,
 782,
 784,
 786,
 788,
 790,
 792,
 794,
 796,
 798,
 800,
 802,
 804,
 806,
 808,
 810,
 812,
 814,
 816,
 818,
 820,
 822,
 824,
 826,
 828,
 830,
 832,
 834,
 836,
 838,
 840,
 842,
 844,
 846,
 848,
 850,
 852,
 854,
 856,
 858,
 860,
 862,
 864,
 866,
 868,
 870,
 872,
 874,
 876,
 878,
 880,
 882,
 884,
 886,
 888,
 890,
 892,
 894,
 896,
 898,
 900,
 902,
 904,
 906,
 908,
 910,
 912,
 914,
 916,
 918,
 920,
 922,
 924,
 926,
 928,
 930,
 932,
 934,
 936,
 938,
 940,
 942,
 944,
 946,
 948,
 950,
 952,
 954,
 956,
 958,
 960,
 962,
 964,
 966,
 968,
 970,
 972,
 974,
 976,
 978,
 980,
 982,
 984,
 986,
 988,
 990,
 992,
 994,
 996,
 998]

In [5]:
##example converting function to list comprehension
def times_tables():
    lst = []
    for i in range(10):
        for j in range (10):
            lst.append(i*j)
    return lst

times_tables() == [j*i for i in range(10) for j in range(10)]

True

In [6]:
##example problem
##using list comprehension 
lowercase = 'abcdefghijklmnopqrstuvwxyz'
digits = '0123456789'

correct_answer = [a+b+c+d for a in lowercase for b in lowercase for c in digits for d in digits]

correct_answer[:50] # Display first 50 ids

['aa00',
 'aa01',
 'aa02',
 'aa03',
 'aa04',
 'aa05',
 'aa06',
 'aa07',
 'aa08',
 'aa09',
 'aa10',
 'aa11',
 'aa12',
 'aa13',
 'aa14',
 'aa15',
 'aa16',
 'aa17',
 'aa18',
 'aa19',
 'aa20',
 'aa21',
 'aa22',
 'aa23',
 'aa24',
 'aa25',
 'aa26',
 'aa27',
 'aa28',
 'aa29',
 'aa30',
 'aa31',
 'aa32',
 'aa33',
 'aa34',
 'aa35',
 'aa36',
 'aa37',
 'aa38',
 'aa39',
 'aa40',
 'aa41',
 'aa42',
 'aa43',
 'aa44',
 'aa45',
 'aa46',
 'aa47',
 'aa48',
 'aa49']

In [24]:
##numpy - fundemental package for numeric computing in python.
import numpy as np
import math

#create an array by passing in a list 
a = np.array([1,2,3])
print(a)
#can print the number of simesion of a list using ndim
print(a.ndim)

##if we pass a lst of lists in a numpy array, we get multi dimensional arrays
b = np.array([[1,2,3],[4,5,6]])
print(b)
##print out the length or the array
b.shape

##print the type of items in the array
a.dtype

##floats can also be used
c = np.array([2.2,5,1.1])
c.dtype.name

##create a matrix of zeros
d=np.zeros((2,3))
print(d)

##create a matrix of ones
e = np.ones((2,3))
print(e)

##create an arraywith random numbers
np.random.rand(2,3)

##create an array of every even number from ten to fifty
f = np.arange(10, 50, 2)
f

##generate a sequence of floats from 0 to 2 with 15 values
np.linspace(0, 2, 15)

[1 2 3]
1
[[1 2 3]
 [4 5 6]]
[[0. 0. 0.]
 [0. 0. 0.]]
[[1. 1. 1.]
 [1. 1. 1.]]

array([0.        , 0.14285714, 0.28571429, 0.42857143, 0.57142857,
       0.71428571, 0.85714286, 1.        , 1.14285714, 1.28571429,
       1.42857143, 1.57142857, 1.71428571, 1.85714286, 2.        ])

In [40]:
##array operations
a = np.array([10,20,30,40])
b = np.array([1,2,3,4])

c= a-b
print(c)

d = a*b
print(d)

##example farenheit to celcius
far = np.array([0, -10, -5, -15, 0])
cel = (far-31)*(5/9)
cel

##boolean array
cel > -20

##mudulus operator
cel%2 == 0

A = np.array([[1,1],[0,1]])
B = np.array([[2,0],[3,4]])
print(A*B)

##if we want to do matric product, we use the "@" sign or use the dot fun
print(A@B)

##linear algebra concepts
##the product of two matrices is only plausible when the inner dimensions
##of the two matrices are the same. The dimensions refer to the number
##of elements both horizontally nd vertically in the rendered matrices
A.shape

##when manipulating arrays of different types, the type of the resulting
##array will correspondto the more general of the two types (upcasting)
array1 = np.array([[1,2,3],[4,5,6]])
print(array1.dtype)
array2 = np.array([[7.1,8.2,9.1],[10.4,11.2,12.3]])
print(array2.dtype)

array3 = array1 + array2
print(array3)
print(array3.dtype)

##can print aggregation functions
print(array3.sum())
print(array3.max())
print(array3.min())
print(array3.mean())

##2D arrays
##for 2D arrays, we can do the same thing for each row or column
b = np.arange(1,16,1).reshape(3,5)
print(b)

[ 9 18 27 36]
[ 10  40  90 160]
[[2 0]
 [0 4]]
[[5 4]
 [3 4]]
int64
float64
[[ 8.1 10.2 12.1]
 [14.4 16.2 18.3]]
float64
79.3
18.3
8.1
13.216666666666667
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

In [44]:
##image processng

from PIL import Image
from IPython.display import display

##looking at image
im = Image.open('Chris.tiff')
display(im)
convert

[[ 1  2  3  4  5]
 [ 6  7  8  9 10]
 [11 12 13 14 15]]

FileNotFoundError: [Errno 2] No such file or directory: 'Chris.tiff'

In [53]:
##indexing, slicing and iterating
##indexing
a = np.array([1,3,5,7])
a[2]
a = np.array([[1,2], [3,4], [5,6]])
a[1,1]
np.array([a[0,0],a[1,1],a[2,1]])
print(a[[0,1,2],[0,1,1]])     

##boolean indexing
print(a>5)
print(a[a>5])

[1 4 6]
[[False False]
 [False False]
 [False  True]]
[6]

In [60]:
##Slicing
##for 1D arrays, slice works like a list
a = np. array([0,1,2,3,4,5])
print(a[:3])
print(a[2:4])
##for multidimensional arrays it works similarly
a = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12]])
##get all elements from the first and second row
a[:2]

##get first two rows nd the second and third column only
a[:2,1:3]

sub_array = a[:2, 1:3]
print("sub arry index (0,0) value before change", sub_array[0,0])
sub_array[0,0] = 50
print("sub array index [0,0] value after change", sub_array[0,0])
print("original array index [0,1] after change", a[0,1])

[0 1 2]
[2 3]
sub arry index (0,0) value before change 2
sub array index [0,0] value after change 50
original array index [0,1] after change 50

In [72]:
## manipulating text with regular expression
import re

##several main processing functions, match(), search()

text = "This is a good day."


if re.search("good", text):
    print("Wonderful")
else:
      print("Alas :(")

text = "Amy work diligently. Amy gets good grades. Our student Amy is succeesful"
re.split("Amy", text)
re.findall("Amy", text)

re.search("^Amy", text)

##patterns and character classes
grades = "ACAAAABCBCBAA"
##finding all instances of B
re.findall("B", grades)
##finsing all instances of A and B
re.findall("[AB]",grades)
##return values of A that are followed by either a B or C
re.findall("[A][B-C]",grades)
#parse out grades which are not A
re.findall("[^A]",grades)

Wonderful

['C', 'B', 'C', 'B', 'C', 'B']

In [92]:
## Quantifiers
## the number of times you want a pattern to be matched in order to match
re.findall("A{2,10}", grades)

re.findall("A{1,1}A{1,1}",grades)
##an empty space in between the braces will return an empty result
re.findall("A{2, 2}",grades)

re.findall("A{1,10}B{1,10}C{1,10}",grades)

['AAAABC']

In [1]:
import os
os.getcwd()

'/home/jovyan/work'

In [5]:
with open(r"\resources\week-1\datasets\ferpa.txt") as file:
    wiki = file.read()

FileNotFoundError: [Errno 2] No such file or directory: '\\resources\\week-1\\datasets\\ferpa.txt'